:root {
    /*
    ***** COLORS
    */
    --background-color: rgb(0,6,1);
    --section-color: rgb(41, 49, 51);
    --pokemonYellow: rgb(254, 202, 28);
    --pokemonSpan: rgb(55,97,168);
    --type-fire: rgb(230, 57, 70);
    --type-water: rgb(69, 123, 157);
    --type-grass: rgb(46, 106, 79);
    --type-electric: rgb(255, 212, 80);
    --type-poison: rgb(123, 45, 139);
    --type-bug: rgb(184, 198, 71);
    --type-normal: rgb(183, 183, 167);
    --type-flying: rgb(153, 167, 255);
    --type-ground: rgb(225, 197, 110);
    --type-ice: rgb(152, 216, 216);
    --type-fighting: rgb(192, 48, 40);
    --type-psychic: rgb(248, 88, 136);
    --type-rock: rgb(184, 160, 56);
    --type-ghost: rgb(112, 88, 152);
    --type-dragon: rgb(112, 56, 248);
    --type-dark: rgb(112, 88, 72);
    --type-steel: rgb(184, 184, 208);
    --type-fairy: rgb(238, 153, 172);
    --type-black: rgb(0, 0, 0);

    /*
    ***** SIZE
    */
    --size-0: 0;
    --size-400: 400;

    /* px */
    --size-1px: 1px;
    --size-2px: 2px;
    --size-5px: 5px;
    --size-10px: 10px;
    --size-16px: 16px;
    --size-18px: 18px;
    --size-20px: 20px;
    --size-24px: 24px;
    --size-25px: 25px;
    --size-28px: 28px;
    --size-32px: 32px;
    --size-48px: 48px;
    --size-60px: 60px;
    --size-75px: 75px;
    --size-80px: 80px;
    --size-140px: 140px;
    --size-148px: 148px;
    --size-180px: 180px;
    --size-240px: 240px;
    --size-560px: 560px;

    /* % */
    --size-30P: 30%;
    --size-80P: 80%;
    --size-100P: 100%;

    /* vh */
    --size-100vh: 100vh;
}