ol {
    list-style: none;  
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-16px);
    justify-content: center;
    max-width: var(--size-100P);
}

li {
    display: flex;
}

.pokemonCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: var(--size-240px);
    width: var(--size-180px);
    border: none;
    border-radius: var(--size-10px);
    cursor: pointer;
    flex-wrap: wrap;
}

.cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-30P);
}

.spanPokemon {
    color: rgb(var(--size-0), var(--size-0), var(--size-0));
    font-size: var(--size-18px);
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--size-148px);
}

.cardBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: var(--size-5px);
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--size-2px) solid;
    font-size: var(--size-16px);
    font-weight: var(--size-400);
    width: var(--size-75px);
    border-radius: var(--size-0) var(--size-25px) var(--size-0) var(--size-25px);
}