html, body {
    margin: var(--size-0);
    padding: var(--size-0);
    width: var(--size-100P);
    background-color: var(--background-color);
}

main {
    max-height: calc(var(--size-100vh) - var(--size-188px));
}