/*
***** header
*/

header {
    background-color: var(--section-color);
    border: var(--size-1px) solid whitesmoke;
    border-radius: var(--size-0) var(--size-25px) var(--size-0) var(--size-25px);
    display: flex;
    max-width: var(--size-100P);
    height: var(--size-80px);
}

#headerContainer {
    display: flex;
    justify-content: space-around;
    width: var(--size-100P);
}

/* header left */

.headerLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size-10px);
}

.pokédex {
    height: var(--size-48px);
    width: var(--size-48px);
}

h3 {
    margin: var(--size-0);
    color: white;
    font-size: var(--size-18px);
    font-weight: var(--size-400);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-5px);
}

.spanHeader {
    color: var(--pokemonYellow);
    -webkit-text-stroke: var(--size-2px) solid var(--pokemonSpan);
}

/* header right */

.headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--size-5px);
}

.searchText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: var(--size-18px);
    gap: var(--size-5px);
}

.pokemonInput {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--size-24px);
    border: var(--size-1px) solid whitesmoke;
    border-radius: var(--size-25px);
    text-align: center;
}

.searchPokemon {
    background-color: transparent;
    height: var(--size-32px);
    width: var(--size-32px);
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
}

.lopu {
    width: var(--size-32px);
    width: var(--size-32px);
}

/*
***** load more
*/

.btnLoadMore {
    border: var(--size-1px) solid var(--pokemonYellow);
    border-radius: var(--size-25px) var(--size-0) var(--size-25px) var(--size-0);
    cursor: pointer;
    margin: var(--size-20px) var(--size-0) var(--size-20px) var(--size-0) ;
    background-color: var(--pokemonYellow);
    color: var(--type-black);
    height: var(--size-28px);
    width: 124px;
    font-size: var(--size-18px);
}

/*
***** footer
*/

footer {
    background-color: var(--section-color);
    height: var(--size-60px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--size-1px) solid whitesmoke;
    border-radius: var(--size-0) var(--size-25px) var(--size-0) var(--size-25px);
    margin-top: var(--size-10px);
}

#footerContainer {
    display: flex;
    gap: var(--size-10px);
}

.footerText {
    color: white;
    font-size: var(--size-18px);
    font-weight: var(--size-400);
}

.pokéball {
    width: var(--size-48px);
    height: var(--size-48px);
    margin-top: var(--size-5px);
}