/*
***** header
*/

header {
    background-color: var(--section-color);
    border: 1px solid whitesmoke;
    border-radius: 0 25px 0 25px;
    display: flex;
    max-width: 100%;
    height: 80px;
}

#headerContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* header left */

.headerLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.pokédex {
    height: 48px;
    width: 48px;
}

h3 {
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.spanHeader {
    color: rgb(254,202,28);
    -webkit-text-stroke: 2px solid rgb(55,97,168);
}

/* header right */

.headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.searchText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    gap: 5px;
}

.pokémonInput {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    text-align: center;
}

.searchPokémon {
    background-color: transparent;
    height: 32px;
    width: 32px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
}

.lopu {
    width: 32px;
    width: 32px;
}

/*
***** footer
*/

footer {
    background-color: var(--section-color);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 0 25px 0 25px ;
}

#footerContainer {
    display: flex;
    gap: 10px;
}

.footerText {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.pokéball {
    width: 48px;
    height: 48px;
    margin-top: 5px;
}